# dependencies
node_modules/


# production
#build/
# Include the build directory so we don't have to actually build in production

# misc
*.swp
.env.local
.env.development.local
.env.test.local
.env.production.local
*.png
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ico
*.swo
error_log.txt
*.pdf
.idea/

# python/back-end
__pycache__/
*.db
*.~lock.*
*.ods

# ignore necessary small list of images
!drinkBaseWhite.png
!plain.png
!smallLogo.png
