/* @format */
/* displayDrinks.css -- displaying drink names and data on the screen*/

.drinkWrapper {
  display: grid;
  grid-template-columns: 6% 94%;
  grid-template-rows: auto;
  color: var(--main-accent-color);
  font-weight: bold;
  padding-bottom: 2em;
}
.glass {
}
#drinkName {
  font-size: 150%;
}
#ingreds {
  font-size: 80%;
  color: var(--main-text-color);
  font-weight: normal;
  padding-top: 0.5em;
  padding-left: 1em;
  font-style: italic;
}
.metrics {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr;
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 80%;
  padding-left: 1em;
}
#ounces {
  grid-column-start: 1 / span 1;
}
#pipe1 {
  grid-column-start: 2 / span 1;
}
#drinkStyle {
  grid-column-start: 3 / span 1;
}
#pipe2 {
  grid-column-start: 4 / span 1;
}
#abv {
  grid-column-start: 5 / span 1;
}
#pipe3 {
  grid-column-start: 6 / span 1;
}
#sweet {
  grid-column-start: 7 / span 1;
}

.recipe {
  padding: 0;
  grid-column: 2 / 3;
  color: var(--main-text-color);
  font-weight: normal;
  margin: 0;
  margin-left: 0.5em;
  font-size: 90%;
  line-height: 0.5;
  cursor: pointer;
}
#build {
  line-height: 1;
}
.hideshow {
  margin: 0;
  text-indent: 3em;
  padding-top: -2em;
  font-size: 75%;
  font-style: normal;
}
