.bigPlot {
    visibility: visible;
    background-color: rgba(200, 200, 200, 0.2);
}

*{font-family:"Trebuchet MS";}

div.tooltip {	
    position: absolute;			
    pointer-events: none;			
}

#recipeBox {
    position: absolute;
    top: 270px;
    left: 325px;
    width: 250px;
    visibility: hidden;
    padding: 3px 15px 5px 15px;
    background-color: #ccc;
    border-style: double;
    text-align: center;
}

#viz {
  position: absolute;
  padding: 10px;
}

#drinkName {
  font-weight: bold;
}

#drinkStyle {
  font-size: 10pt;
}

#drinkIngredients {
  font-size: 8pt;
}
