body {
  font-family: 'Source Code Pro', monospace;
  background-color: #fff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {

  list-style-type: none;
  font-family: 'Source Code Pro';
  font-weight: bold;
  color: #000;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  text-align: center;
}
ul.header {
  background-color: #4c4c4c;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #a5693d;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #100656;
}

footer {
  font-family: 'Source Code Pro:300', monospace;
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}

.results {
  padding-top: 2em;
}

#ingreds {
  font-size: 80%;
  padding-left: 1em;
  font-style: italic;
}
