/* @format */
/* index.css -- sitewide stylesheets */

/* global imports */
@import url("drinkViz.css");
@import url("navbar.css");
@import url("displayDrinks.css");
@import url("spinner.css");

/* media queries */

/*for screens large enough to see drinkViz*/
@media (max-width: 900px) {
  @import url("vizGrid.css");
  html,
  .navbutton,
  .results {
    font-size: 16px;
  }
  #vizButton {
    display: none;
  }
  #glass {
    display: none;
  }
}
/* for mobile devices and smaller screens */
@media (min-width: 901px) {
  @import url("smallScreenResults.css");
  html {
    font-size: 16px;
  }
}

/* colors:
 *  original charcoal: #4c4c4c
 *  burnt orange: #a5693d
 *  dark-mode charcoal: #303030
 *  dark-mode egg-shell: #efeae5 
 *  complimentary blue: #100656
 */

/* global variables, mostly colors */

:root {
  /* main text/logo/nav color scheme */
  --main-bg-color: #fff;
  --form-bg-color: #fff;
  --form-text-color: #4c4c4c;
  --main-text-color: #4c4c4c;
  --main-accent-color: #a5693d;
  --navbar-bg-color: #4c4c4c;
  --navbar-txt-color: #efeae5;

  /* drinkViz */
  --vizLabels: #444;
  --vizLines: #888;
  --vizCircleOutline: #999;
  --vizBg: #c8c8c820;

  /* drinkViz drink types */
  --vizStirred: #a5693d; /* drinkBase orange */
  --vizBubbly: #fcf5bf; /* eggshell */
  --vizShaken: #100656; /* dark blue */
  --vizDoubleShake: #240ccc; /* light blue */
  --vizFizz: #f4e381; /* custard */
  --vizSwizzle: #f27552; /* orange */
  --vizBuilt: #b5390c; /* red */
  --vizDefault: #bbb; /* grey */
  --vizHot: red;
}

/* grid layout for results */
.resultsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.results {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}
.drinkViz {
  position: sticky;
  top: 10%;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

/* general styles */

body {
  font-family: sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-weight: normal;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 10px;
  list-style-type: none;
}
.active {
  border-bottom-style: solid;
  border-color: var(--main-accent-color);
  border-width: 0.3em;
}

footer {
  font-size: 75%;
  margin-top: 12px;
  text-align: center;
  padding-bottom: 2em;
  color: var(--main-accent-color);
}

#noResults {
  color: var(--main-accent-color);
  margin-left: 2em;
  font-size: 125%;
  font-weight: bold;
}

.searchforms {
  padding-left: 1em;
}

form input {
  background-color: var(--form-bg-color);
  color: var(--form-text-color);
  border-style: 1px solid;
  border-radius: 2px;
  font-size: 100%;
}
