/** @format */

@import url("drinkViz.css");

/* colors:
 *  original charcoal: #4c4c4c
 *  burnt orange: #a5693d
 *  dark-mode charcoal: #303030
 *  dark-mode egg-shell: #efeae5 
 *  blue: #100656
 */

:root {
  --main-bg-color: #fff;
  --form-bg-color: #fff;
  --form-text-color: #4c4c4c;
  --main-text-color: #4c4c4c;
  --main-accent-color: #a5693d;
}

body {
  font-family: impact, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-weight: normal;
  padding: 20px;
  margin: 0;
}
.content {
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  border-bottom-style: solid;
  border-color: var(--main-accent-color);
  border-width: 0.3em;
}

footer {
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}

.results {
  padding-top: 2em;
  padding-left: 0.1em;
}

.hideshow {
  margin: 0;
  padding-top: -2em;
  font-size: 75%;
  font-style: normal;
}
#drinkname {
  color: var(--main-accent-color);
  font-weight: bold;
}
#ingreds {
  font-size: 80%;
  color: var(--main-text-color);
  font-weight: normal;
  padding-left: 1em;
  font-style: italic;
}
.recipe {
  padding-top: 0em;
  padding-bottom: 0.5em;
  color: var(--main-text-color);
  font-weight: normal;
  margin-left: 0.5em;
  font-size: 90%;
  line-height: 0.5;
}
form input {
  background-color: var(--form-bg-color);
  color: var(--form-text-color);
  border-style: 1px solid;
  border-radius: 2px;
}

.navbutton {
  border-style: none;
}
