/** @format */

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-txt-color);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  opacity: 0.9;
  font-size: 12px;
}

#smallLogo {
  padding: 1px;
  margin-right: 2em;
  margin-left: 5px;
  margin-top: 3px;
  background-color: var(--navbar-txt-color);
}

#bigLogo {
  padding-left: 2em;
}

.navbutton {
  background-color: var(--navbar-header-color);
  font-size: 12px;
  color: var(--navbar-txt-color);
  border-style: none;
  vertical-align: top;
  margin-right: 2em;
}

.vizCheck {
  font-size: 12px;
}
